.buttons {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 50%;       
    max-width: 600px;  
    margin: 15px auto; 
}
.left-butt {
    display: flex;
    gap: 20px; 
}

#proceed-btn,
#slider-btn,
#create-btn {
    height: 35px;
    padding: 0 15px;
    background-color: #1ED760;
    color:black;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}


#slider-panel{
    text-align:center;
    margin-top:10px;
}